In [1]:
# CREATE TABLE Employees (
#     EmployeeID INT PRIMARY KEY,
#     FirstName VARCHAR(50),
#     LastName VARCHAR(50),
#     Age INT,
#     Department VARCHAR(50)


# INSERT INTO Employees (EmployeeID, FirstName, LastName, Age, Department) VALUES
# (1, 'John', 'Doe', 30, 'HR'),
# (2, 'Jane', 'Smith', 25, 'IT'),
# (3, 'Emily', 'Johnson', 35, 'Finance'),
# (4, 'Michael', 'Williams', 28, 'Marketing'),
# (5, 'Sarah', 'Brown', 40, 'Sales');

# SELECT * FROM Employees;

In [2]:
# !pip install pandas mysql-connector-python

In [4]:
import pandas as pd
import mysql.connector
import warnings

# Suppress warnings
warnings.filterwarnings("ignore")
# Establish the database connection
connection = mysql.connector.connect(
    host='localhost',        # e.g., 'localhost' or your database server address
    user='root',    # your database username
    password='1234', # your database password
    database='test'          # your schema name
)

# Query to select all data from Employees table
query = "SELECT * FROM Employees;"

# Use pandas to read the table into a DataFrame
df = pd.read_sql(query, connection)

# Close the database connection
connection.close()

# Display the DataFrame
print(df)

   EmployeeID FirstName  LastName  Age Department
0           1      John       Doe   30         HR
1           2      Jane     Smith   25         IT
2           3     Emily   Johnson   35    Finance
3           4   Michael  Williams   28  Marketing
4           5     Sarah     Brown   40      Sales